
        html {
             overscroll-behavior: auto; }
        body {
            background-color: #111827;
            color: #e5e7eb;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            overflow: hidden;
        }

        .card {
            position: absolute;
            border-radius: 7px;
            box-shadow: 0 0 15px rgba(66, 153, 225, 0.5);
            transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
            backface-visibility: hidden;
            cursor: pointer;
        }

        .card:hover {
            transform: scale(1.1);
            box-shadow: 0 0 20px rgba(66, 153, 225, 0.7);
        }

        .card.clicked {
            border: 3px solid black;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
            filter: grayscale(100%);
        }

        .card.pulse {
            animation: pulse 1s infinite, rainbow 2s infinite, brightness 3s infinite;
        }

        @keyframes pulse {
            0% {
                box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
                transform: scale(1);
            }
            50% {
                box-shadow: 0 0 0 25px rgba(255, 255, 255, 0.35);
                transform: scale(1.05);
            }
            70% {
                box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
                transform: scale(1.1);
            }
            100% {
                box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
                transform: scale(1);
            }
        }
        
        @keyframes rainbow {
    0%, 100% { box-shadow: 0 0 30px rgba(255, 0, 0, 0.7); }
    14% { box-shadow: 0 0 40px rgba(255, 127, 0, 0.7); }
    28% { box-shadow: 0 0 60px rgba(255, 255, 0, 0.7); }
    42% { box-shadow: 0 0 100px rgba(0, 255, 0, 0.7); }
    57% { box-shadow: 0 0 50px rgba(0, 127, 255, 0.7); }
    71% { box-shadow: 0 0 40px rgba(75, 0, 130, 0.7); }
    85% { box-shadow: 0 0 10px rgba(143, 0, 255, 0.7); }
}
        @keyframes brightness {
            0% { filter: brightness(100%); }
            50% { filter: brightness(150%); }
            100% { filter: brightness(100%); }
        }

        #reading-area {
            position: relative;
            width: 100%;
            height: 90vh;
            max-width: 500px;
            margin: 0 auto;
        }

        .stars {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: -1;
        }

        @keyframes float {
            0% { transform: translateY(0px); }
            50% { transform: translateY(-7px); }
            100% { transform: translateY(0px); }
        }

        .floating {
            animation: float 6s ease-in-out infinite;
        }

        #selected-card {
            position: fixed;
            top: 10px;
            left: 10px;
            padding: 5px 10px;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            border-radius: 5px;
            display: none;
            max-width: 40%;
            font-size: .8rem;
        }

        @media (max-width: 600px) {
            .card {
                width: 40px;
                height: 60px;
            }
        }

        @media (min-width: 601px) {
            .card {
                width: 70px;
                height: 105px;
            }
        }
        h2 { color: lightblue; }
        b { color: lightblue; }
        #close-help { position: absolute; top: 10px; right: 10px; }
        .cardTitle {
            text-transform: capitalize;
            font-size: 1rem;
            color: cyan;
            font-weight: bold;
            text-align: center;
            width: 100%;
            margin: auto;
        }
        #combinations-button {
            position: absolute;
            top: 1rem;
            right: 1rem;
            display: none;
        }

        #help-button {
            position: absolute;
            bottom: 2rem;
            left: 5%;
            padding: 5px;
            z-index: 88888;
        }
        #refresh-button {
            position: absolute;
            bottom: 2rem;
            left: 15%;
            padding: 5px;
            z-index: 88888;
        }
        .fade-in {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
        .fade-in.show {
            opacity: 1;
        }
        #selected-card, #position-info {
            background: rgba(20,20,20,0.9);
            padding: 10px;
            border: 1px solid black;
            color: white;
            margin-top: 20px;
            max-width: 35%;
            z-index: 9999999999;
        }
        #selected-card {
            position: fixed;
            top: 20px;
            left: 20px;
        }
        #position-info {
            position: fixed;
            bottom: 20px;
            right: 20px;
            font-size: .8rem;
        }
        .combination {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: .8rem;
}

.combination:last-child {
    border-bottom: none;
}

.combination img {
    display: inline-block;
    vertical-align: middle;
}

.combination p {
    margin-top: 5px;
    color: #333;
}

h4, .cardTitle, .positionText, .positionTitle {
    font-size: 0.7rem;
}

/* For screen width 550px and larger */
@media (min-width: 550px) {
    h4 {
        font-size: 0.8rem;
    }
    .cardTitle {
        font-size: 0.9rem;
    }
    .positionText {
        font-size: 0.8rem;
    }
    .positionTitle {
        font-size: 0.9rem;
    }
}

/* For screen width 700px and larger */
@media (min-width: 700px) {
    h4 {
        font-size: 1rem;
    }
    .cardTitle {
        font-size: 1.1rem;
    }
    .positionText {
        font-size: 1rem;
    }
    .positionTitle {
        font-size: 1.1rem;
    }
}

/* For screen width 1000px and larger */
@media (min-width: 1000px) {
    h4 {
        font-size: 1.2rem;
    }
    .cardTitle {
        font-size: 1.3rem;
    }
    .positionText {
        font-size: 1.2rem;
    }
    .positionTitle {
        font-size: 1.3rem;
    }
}

input { color: black; background: black; color: cyan; padding: 5px; border: 1px solid lightblue; border-radius: 5px; box-shadow: 0px 0px 3px white; }
select { color: black; background: black; color: cyan; padding: 5px; border: 1px solid lightblue; border-radius: 5px; box-shadow: 0px 0px 3px white; }
option { color: black; background: black; color: cyan; padding: 5px; border: 1px solid lightblue; border-radius: 5px; box-shadow: 0px 0px 3px white; }
.card {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    /* Initial state to show the back */
    background-size: cover;
}

.card-front {
    backface-visibility: hidden;
}

.card-back {
    backface-visibility: hidden;
    transform: rotateY(180deg); /* Rotate back to be visible initially */
}

.card.flipped {
    transform: rotateY(180deg);
    /* Background image should change to the front once flipped */
    background-image: none;
}

.modal {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            max-width: 80%;
            padding: 20px;
            background: rgba(0,0,0, 0.8);
            border-radius: 8px;
            text-align: center;
            color: white;
            z-index: 1000; /* Higher than other elements */
        }


.lookAtMe {
    animation: pulse 1s infinite, rainbow 2s infinite, brightness 3s infinite;
}

/* Webkit browsers (Chrome, Safari, newer versions of Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a; /* Very dark gray, almost black */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1a1a2e; /* Dark blue */
  border-radius: 10px;
  border: 2px solid #0a0a0a;
}

::-webkit-scrollbar-thumb:hover {
  background: #16213e; /* Slightly lighter blue on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1a1a2e #0a0a0a;
}

li { margin-left: 20px; }

/* For Internet Explorer */
body {
  scrollbar-face-color: #1a1a2e;
  scrollbar-track-color: #0a0a0a;
  scrollbar-arrow-color: #4a5568;
  scrollbar-shadow-color: #2d3748;
}

/* Light blue accents */
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  background-color: #4a5568; /* Light blue accent */
}

.card-img {
    width: 80%;
    max-width: 40px;
    height: auto;
    margin: 10px auto;
    display: block;
}

@media (min-width: 480px) {
    .card-img {
        max-width: 60px;
    }
}

@media (min-width: 768px) {
    .card-img {
        max-width: 100px;
    }
}

@media (min-width: 1024px) {
    .card-img {
        max-width: 150px;
    }
}
